apiVersion: v1
data:
  networkdata: {{ cloudinit_network_data | b64encode }}
  userdata: {{ cloudinit_user_data | b64encode }}
kind: Secret
metadata:
  labels:
    harvesterhci.io/cloud-init-template: harvester
  name: {{ vm.name }}
  namespace: {{ blueprint.machines.namespace }}
type: secret
